

@font-face {
font-family: 'bellotaregular';
src: url('Bellota-Regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
.Attention{
color:orange;
}

.Erreur{ 
color:red;
}

.honey{
  opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   height: 0;
   width: 0;
   z-index: -1;
    }

body {
background-color:#15c5bd;
font-family: "bellotaregular";
}


#fd {
background-color:white;
}
